<%- include('./components/Header.ejs') %>

    <%- include('./components/messages.ejs') %>
        <h1 class="title">Dashboard</h1>

        <div class="dashbord-info">
            <%if(urls){ %>

                <div class="totalurls">
                    <div>
                        <p>TOTAL URLS</p>&nbsp;
                        <span><%=urls.length %></span>
                    </div>
                    <i class="fa fa-link" aria-hidden="true"></i>

                </div>
                <div class="totalClicks">
                    <div>
                        <p>TOTAL CLICKS</p> &nbsp;
                        <span><%=totalClick %></span>
                    </div>
                    <i class="fa fa-mouse-pointer" aria-hidden="true"></i>

                </div>
                <div class="totalMonthClicks">

                    <%
                    let thisMonthUrls=0;
                     let currentmonth=new Date().getMonth()
                    urls.forEach((url) => {
                let urlCreatedMonth= new Date(url.CreatedAt).getMonth()
               if(currentmonth==urlCreatedMonth) thisMonthUrls++


                    })%>
                        <div>
                            <p>this month</p> &nbsp;
                            <span><%=thisMonthUrls%></span>
                        </div>
                        <i class="fa fa-calendar-check" aria-hidden="true"></i>

                </div>


                <%}%>

        </div>
        <form action="/" method="post" class="cut">
            <input type="text" name="fullURL" placeholder="add your url">
            <button type="submit"> Add </button>
        </form>

        <div class="cards-info">
            <%if(urls.length>0){%>
                <% urls.forEach((url) => {%>
                    <div class="card">
                        <div class="card-head">
                            <a href="<%=host + url.shortURL%>" onclick="reload()" target="_blank">
                                <%=host+url.shortURL %>
                            </a>
                            <div class="date">
                                <%=url.CreatedAt.toLocaleDateString()%>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="full-url">
                                <%=url.fullURL.length>33?url.fullURL.substr(0,45)+"......":url.fullURL%>
                            </div>

                        </div>
                        <div class="card-footer">
                            <div class="clicks">
                                <span>  <%=url.clicks%>  </span> clicks
                            </div>
                            <form action="/<%=url.id%>?_method=DELETE" method="POST">
                                <button class="btn" type="submit">Delete</button>
                            </form>

                        </div>

                    </div>
                    <% });%>
                        <%}%>
        </div>

        <%if(urls.length=0){%>

            <h1 class="notlogin"> no URL </h1>

            <%}%>


                <%- include('./components/Footer.ejs') %>