<%- include('./components/Header.ejs') %>

    <%- include('./components/messages.ejs') %>
        <h1 class="title">Dashboard</h1>

        <div class="dashbord-info">
            <%if(urls){ %>

                <div class="totalurls">
                    <p>TOTAL URLS</p>
                    <span><%=urls.length %></span>

                </div>
                <div class="totalClicks">
                    <p>TOTAL CLICKS</p>
                    <span><%=totalClick %></span>
                </div>


                <%}%>

        </div>
        <form action="/" method="post" class="cut">
            <input type="text" name="fullURL" placeholder="add your url">
            <button type="submit">CutURL</button>
        </form>

        <div class="cards-info">
            <%if(urls.length>0){%>
                <% urls.forEach((url) => {%>
                    <div class="card">
                        <div class="card-head">
                            <a href="<%=host + url.shortURL%>" onclick="reload()" target="_blank">
                                <%=host+url.shortURL %>
                            </a>
                            <div class="date">
                                <%=url.CreatedAt.toLocaleDateString()%>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="full-url">
                                <%=url.fullURL.length>33?url.fullURL.substr(0,45)+"......":url.fullURL%>
                            </div>

                        </div>
                        <div class="card-footer">
                            <div class="clicks">
                                <span>  <%=url.clicks%>  </span> clicks
                            </div>
                            <form action="/<%=url.id%>?_method=DELETE" method="POST">
                                <button class="btn" type="submit">Delete</button>
                            </form>

                        </div>

                    </div>
                    <% });%>
                        <%}%>
        </div>

        <%if(urls.length=0){%>

            <h1 class="notlogin">Have no URL </h1>

            <%}%>


                <%- include('./components/Footer.ejs') %>