<%- include('./components/Header.ejs') %>

<%- include('./components/messages.ejs') %>
<%- include('./components/homepage/intro.ejs') %>
<form action="/" method="post" class="cut">
    <input type="text" name="fullURL" placeholder="add your url">
    <button type="submit">CutURL</button>
</form>

<%- include('./components/homepage/services.ejs') %>

        <%- include('./components/homepage/pricing.ejs')%>


                        <%- include('./components/Footer.ejs') %>